@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 214 20% 100%;
    --foreground: 0 0% 5%;

    --card: 210 29% 97%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 43 95% 56%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 350 100% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 18% 84%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;

    --chart-1: 42 96% 56%;
    --chart-2: 223 68% 52%;
    --chart-3: 339 74% 54%;

    --chart-4: 280 64% 60%;
    --chart-5: 27 87% 67%;

    --blue: 204 86% 53%;
    --green: 168 100% 41%;
  }
  
  .dark {
  
    --background: 213 31% 7%;
    --foreground: 0 0% 98%;

    --card: 215 22% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 213 31% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 43 95% 56%;
    --primary-foreground: 0 0% 2%;

    --secondary: 213 22% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 213 15% 15%;
    --muted-foreground: 212 9% 59%;

    --accent: 215 22% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 350 100% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 22% 15%;
    --input: 215 22% 15%;
    --ring: 43 95% 40%;

    --chart-1: 42 96% 56%;
    --chart-2: 223 68% 52%;
    --chart-3: 339 74% 54%;

    --chart-4: 280 64% 60%;
    --chart-5: 220 80% 55%;

    --blue: 204 86% 53%;
    --green: 168 100% 41%;

    .mdx-editor {
        [class*="_placeholder"] {
            color: hsl(var(--muted-foreground)) !important;
            font-size: var(--text-sm);
        }
        [role="toolbar"] {
            color: hsl(var(--muted-foreground));
            svg {
                width: 20px;
                height: 20px;
            }
            > div:last-child {
                [role="group"] {
                    button:nth-child(2) {
                        display: none;
                    }
                }
            }
            > div:nth-child(3) {
                [role="group"] {
                    button:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
        .cm-matchingBracket {
            background: transparent;
            outline: none;
        }
        .cm-cursor {
            border-left: 1px solid hsl(var(--foreground));
        }
        .cm-sourceView .cm-editor {
            background: hsl(var(--background));
            color: hsl(var(--foreground));
            border: 1px solid hsl(var(--border));
            border-radius: var(--radius);
            padding: 0.5rem;
            margin-top: 1rem;
            font-size: 0.9rem;
            font-family: var(--font-mono);
            line-height: 1.5;
            overflow-x: auto;
            white-space: pre;
            .cm-gutters {
                display: none
            }
            .cm-scroller {
                font-size: var(--text-sm)
            }
        }
        --accentBase: var(--tomato-1);
        --accentBgSubtle: var(--tomato-2);
        --accentBg: var(--tomato-3);
        --accentBgHover: var(--tomato-4);
        --accentBgActive: var(--tomato-5);
        --accentLine: var(--tomato-6);
        --accentBorder: var(--tomato-7);
        --accentBorderHover: var(--tomato-8);
        --accentSolid: var(--tomato-9);
        --accentSolidHover: var(--tomato-10);
        --accentText: var(--tomato-11);
        --accentTextContrast: var(--tomato-12);
    
        --baseBase: red
        --baseBgSubtle: hsl(var(--card));
        --baseBg: hsl(var(--background));
        --baseBgHover: hsl(var(--card));
        --baseBgActive: hsl(var(--card));
        --baseLine: var(--mauve-6);
        --baseBorder: transparent;
        --baseBorderHover: var(--mauve-8);
        --baseSolid: var(--mauve-9);
        --baseSolidHover: var(--mauve-10);
        --baseText: hsl(var(--secondary));
        --baseTextContrast: hsl(var(--secondary))
    
        --admonitionTipBg: var(--cyan4);
        --admonitionTipBorder: var(--cyan8);
        
        --admonitionInfoBg: var(--grass4);
        --admonitionInfoBorder: var(--grass8);
    
        --admonitionCautionBg: var(--amber4);
        --admonitionCautionBorder: var(--amber8);
    
        --admonitionDangerBg: var(--red4);
        --admonitionDangerBorder: var(--red8);
    
        --admonitionNoteBg: var(--mauve-4);
        --admonitionNoteBorder: var(--mauve-8);
    
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    
        color: var(--foreground);
        --basePageBg: black;
        background: hsl(var(--background));
    }
  }

  
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

