

@layer base {
  :root {
    --background: 214 20% 98%;
    --foreground: 226 57% 0%;

    --card: 210 29% 100%;
    --card-foreground: 226 57% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 43 95% 56%;
    --primary-foreground: 0 0% 2%;

    --secondary: 226 15% 93%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 350 100% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 18% 84%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;

    --chart-1: 42 96% 56%;
    --chart-2: 223 68% 52%;
    --chart-3: 339 74% 54%;

    --chart-4: 280 64% 60%;
    --chart-5: 27 87% 67%;

    --blue: 204 86% 53%;
    --green: 168 100% 41%;

    --sidebar-background: 214 20% 100%;
    --sidebar-foreground: 226, 57%, 0%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 226 15% 93%;

    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 210 18% 84%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --header-background: 225 59% 21.18%;
    --header-foreground: 0 0% 100%;

    --footer-background: 214 20% 98%;
    --footer-foreground: 226 57% 0%;
  }
  
  .dark {
  
    --background: 213 27% 7%;
    --foreground: 0 0% 98%;

    --card: 215 22% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 213 31% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 43 95% 56%;
    --primary-foreground: 0 0% 2%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 213 15% 15%;
    --muted-foreground: 212 9% 59%;

    --accent: 215 22% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 350 100% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 22% 15%;
    --input: 215 22% 15%;
    --ring: 43 95% 40%;

    --chart-1: 42 96% 56%;
    --chart-2: 223 68% 52%;
    --chart-3: 339 74% 54%;

    --chart-4: 280 64% 60%;
    --chart-5: 220 80% 55%;

    --blue: 204 86% 53%;
    --green: 168 100% 41%;

    --sidebar-background: 213 31% 7%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 22% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 22% 15%;
    --sidebar-ring: 215 22% 15%;

    --header-background: 225 66% 2%;
    --header-foreground: 0 0% 100%;
    --footer-background: 213 27% 7%;
    --footer-foreground: 0 0% 98%;
    }  
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}



.animated-outline {
    --border-angle: 0turn; // For animation.
    --main-bg: conic-gradient(
        from var(--border-angle),
        hsl(var(--card)) 0%,
        hsl(var(--card)) 5%,
        hsl(var(--card)) 60%,
        hsl(var(--card)) 95%
      );
    margin: -0.5px;
    border: solid 2px transparent;
    
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, transparent, hsl(var(--primary)) 99%, transparent);
    
    background: 
      // padding-box clip this background in to the overall element except the border.
      
      // border-box extends this background to the border space
      var(--gradient-border) border-box, 
      // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
      var(--main-bg) border-box;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
}
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.hide-handles {
    .react-flow__handle {
        opacity: 0;
    }
}

[data-state="open"] {
    > button > div > div .caret, > div > h3 .caret {
        transition: all 0.2s ease;
        transform: rotate(180deg);
    }
}

.caret {
    transition: all 0.2s ease;
}
