@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 214 20% 98%;
    --foreground: 226, 57%, 0%;

    --card: 210 29% 100%;
    --card-foreground: 226, 57%, 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 43 95% 56%;
    --primary-foreground: 0 0% 2%;

    --secondary: 226 15% 93%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 350 100% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 18% 84%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;

    --chart-1: 42 96% 56%;
    --chart-2: 223 68% 52%;
    --chart-3: 339 74% 54%;

    --chart-4: 280 64% 60%;
    --chart-5: 27 87% 67%;

    --blue: 204 86% 53%;
    --green: 168 100% 41%;

    --sidebar-background: 214 20% 100%;
    --sidebar-foreground: 226, 57%, 0%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 226 15% 93%;

    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 210 18% 84%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  
  .dark {
  
    --background: 213 31% 7%;
    --foreground: 0 0% 98%;

    --card: 215 22% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 213 31% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 43 95% 56%;
    --primary-foreground: 0 0% 2%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 213 15% 15%;
    --muted-foreground: 212 9% 59%;

    --accent: 215 22% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 350 100% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 22% 15%;
    --input: 215 22% 15%;
    --ring: 43 95% 40%;

    --chart-1: 42 96% 56%;
    --chart-2: 223 68% 52%;
    --chart-3: 339 74% 54%;

    --chart-4: 280 64% 60%;
    --chart-5: 220 80% 55%;

    --blue: 204 86% 53%;
    --green: 168 100% 41%;

    --sidebar-background: 213 31% 7%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 22% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 22% 15%;
    --sidebar-ring: 215 22% 15%;

    .mdx-editor {
        [class*="_placeholder"] {
            color: hsl(var(--muted-foreground)) !important;
            font-size: var(--text-sm);
        }
        [role="toolbar"] {
            color: hsl(var(--muted-foreground));
            svg {
                width: 20px;
                height: 20px;
            }
            > div:last-child {
                [role="group"] {
                    button:nth-child(2) {
                        display: none;
                    }
                }
            }
            > div:nth-child(3) {
                [role="group"] {
                    button:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
        .cm-matchingBracket {
            background: transparent;
            outline: none;
        }
        .cm-cursor {
            border-left: 1px solid hsl(var(--foreground));
        }
        .cm-sourceView .cm-editor {
            background: hsl(var(--background));
            color: hsl(var(--foreground));
            border: 1px solid hsl(var(--border));
            border-radius: var(--radius);
            padding: 0.5rem;
            margin-top: 1rem;
            font-size: 0.9rem;
            font-family: var(--font-mono);
            line-height: 1.5;
            overflow-x: auto;
            white-space: pre;
            .cm-gutters {
                display: none
            }
            .cm-scroller {
                font-size: var(--text-sm)
            }
        }
        --accentBase: var(--tomato-1);
        --accentBgSubtle: var(--tomato-2);
        --accentBg: var(--tomato-3);
        --accentBgHover: var(--tomato-4);
        --accentBgActive: var(--tomato-5);
        --accentLine: var(--tomato-6);
        --accentBorder: var(--tomato-7);
        --accentBorderHover: var(--tomato-8);
        --accentSolid: var(--tomato-9);
        --accentSolidHover: var(--tomato-10);
        --accentText: var(--tomato-11);
        --accentTextContrast: var(--tomato-12);
    
        --baseBase: red
        --baseBgSubtle: hsl(var(--card));
        --baseBg: hsl(var(--background));
        --baseBgHover: hsl(var(--card));
        --baseBgActive: hsl(var(--card));
        --baseLine: var(--mauve-6);
        --baseBorder: transparent;
        --baseBorderHover: var(--mauve-8);
        --baseSolid: var(--mauve-9);
        --baseSolidHover: var(--mauve-10);
        --baseText: hsl(var(--secondary));
        --baseTextContrast: hsl(var(--secondary))
    
        --admonitionTipBg: var(--cyan4);
        --admonitionTipBorder: var(--cyan8);
        
        --admonitionInfoBg: var(--grass4);
        --admonitionInfoBorder: var(--grass8);
    
        --admonitionCautionBg: var(--amber4);
        --admonitionCautionBorder: var(--amber8);
    
        --admonitionDangerBg: var(--red4);
        --admonitionDangerBorder: var(--red8);
    
        --admonitionNoteBg: var(--mauve-4);
        --admonitionNoteBorder: var(--mauve-8);
    
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    
        color: var(--foreground);
        --basePageBg: black;
        background: hsl(var(--background));
    }
  }

  
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}





.animated-outline {
    --border-angle: 0turn; // For animation.
    --main-bg: conic-gradient(
        from var(--border-angle),
        hsl(var(--card)) 0%,
        hsl(var(--card)) 5%,
        hsl(var(--card)) 60%,
        hsl(var(--card)) 95%
      );
    margin: -0.5px;
    border: solid 2px transparent;
    
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, transparent, hsl(var(--primary)) 99%, transparent);
    
    background: 
      // padding-box clip this background in to the overall element except the border.
      
      // border-box extends this background to the border space
      var(--gradient-border) border-box, 
      // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
      var(--main-bg) border-box;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.hide-handles {
    .react-flow__handle {
        opacity: 0;
    }
}

[data-state="open"] {

    > button > div > div .caret, > div > h3 .caret {
        transition: all 0.2s ease;
        transform: rotate(180deg);
    }
}

.caret {
    transition: all 0.2s ease;
}