OPEN_CODE_USERNAME=""
OPEN_CODE_PASSWORD=""
OPEN_CODE_TOTP_SECRET=""

DEVGUARD_DOMAIN="http://localhost:3000"
DEVGUARD_EMAIL_LOGIN_USERNAME="test-user-XXX"
DEVGUARD_EMAIL_LOGIN_PASSWORD="something-Ver1ySecure12"